body{
    color: aliceblue;
    background-color: black;
    font-family: sans-serif;
}
table{
    justify-content: center;
    display: flex;
}
td,th{
    color:aliceblue; 
    border: solid 2px aliceblue;
    border-collapse: collapse;
    text-align: center;
}
.content{
    margin: 0, auto;
}
h1,h4,form{
    text-align: center;
}
a{
    color: aqua;
}
a:hover{
    color: blueviolet;
}
